<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <script src="scripts/client-validation.js" defer></script>
    <title>Blog</title>
</head>
<body>
    <div id="main">
        <h1>Create a New Post</h1>
        <form action="submit" method="post" id="blog-form">
            <label for="author">Author</label>
            <span class="err" id="err-author">Author is required and may not contain numbers</span>
            <input type="text" name="author" id="author">
            <label for="title">Title</label>
            <span class="err" id="err-title">Title is required</span>
            <input type="text" name="title" id="title">
            <label for="content">Content</label>
            <span class="err" id="err-content">Content must be atleast 10 characters</span>
            <textarea name="content" id="content"></textarea>
            <button type="submit" class = "button">Submit</button>
        </form>
        <a href = "/entries" class = "button">View Admin Posts</a>
    </div>
</body>
</html>