<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <div id="main">
        <h1>Create Newe Post</h1>
        <input type="text" name="author" id="author">
        <input type="text" name="title" id="title">
        <textarea name="content" id="content"></textarea>
    </div>
</body>
</html>