<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Blog</title>
</head>
<body>
    <div id="main">
        <h1>Create a New Post</h1>
        <form action="submit" method="post">
            <input type="text" name="author" id="author">
            <input type="text" name="title" id="title">
            <textarea name="content" id="content"></textarea>
            <button type="submit" class = "button">Submit</button>
        </form>
    </div>
</body>
</html>