body {
    width: 900px;
    margin: auto;
    background-color: gray;
}

#main {
    margin: auto;
    background-color: beige;
    padding-bottom: 10px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

input, textarea, button{
    width: 95%;
    display: block;
    margin: 10px auto;
}
